%h1 Listing assessments

%table
  %tr
    %th Assessor email
    %th Assessment type
    %th Date
    %th Assessor name
    %th Assessor grade
    %th Assessor gmc
    %th Assessment title
    %th Assessment description
    %th Assessor firstname
    %th Assessor lastname
    %th
    %th
    %th

  - @assessments.each do |assessment|
    %tr
      %td= assessment.assessor_email
      %td= assessment.assessment_type
      %td= assessment.date
      %td= assessment.assessor_name
      %td= assessment.assessor_grade
      %td= assessment.assessor_gmc
      %td= assessment.assessment_title
      %td= assessment.assessment_description
      %td= assessment.assessor_firstname
      %td= assessment.assessor_lastname
      %td= link_to 'Show', assessment
      %td= link_to 'Edit', edit_assessment_path(assessment)
      %td= link_to 'Destroy', assessment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Assessment', new_assessment_path
