%p#notice= notice

%h1 DOP

%strong Curriculum Links:
%ul
  - @dop.items.each do |item|
    %li= item.code

%p
  %b Clinical setting:
  = @dop.clinical_setting
%p
  %b Problem category:
  = @dop.problem_category
%p
  %b Clinical encouter:
  = @dop.clinical_encouter
%p
  %b Complexity:
  = @dop.complexity
%p
  %b Assessor postion:
  = @dop.assessor_postion
%p
  %b Number previous assessor:
  = @dop.number_previous_assessor
%p
  %b Number previous trainee:
  = @dop.number_previous_trainee
%p
  %b Understanding:
  = @dop.understanding
%p
  %b Consent:
  = @dop.consent
%p
  %b Preparation:
  = @dop.preparation
%p
  %b Analalgesia:
  = @dop.analalgesia
%p
  %b Technical ability:
  = @dop.technical_ability
%p
  %b Aseptic:
  = @dop.aseptic
%p
  %b Seeks help:
  = @dop.seeks_help
%p
  %b Post procedure:
  = @dop.post_procedure
%p
  %b Communication:
  = @dop.communication
%p
  %b Consideration:
  = @dop.consideration
%p
  %b Overall:
  = @dop.overall
%p
  %b Suggestions:
  = @dop.suggestions
%p
  %b Training:
  = @dop.training
%p
  %b Time observation:
  = @dop.time_observation
%p
  %b Time feedback:
  = @dop.time_feedback
%p
  %b Assessor:
  = @dop.assessor
%p
  %b Assesser gmc:
  = @dop.assesser_GMC
%p
  %b Assessor contact:
  = @dop.assessor_contact
%p
  %b Assessor email:
  = @dop.assessor_email

= link_to 'Edit', edit_dop_path(@dop)
\|
= link_to 'Back', dops_path
