= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :code
    = f.input :name
    = f.association :dops, :label_method => :clinical_setting

  .form-actions
    = f.button :submit
