- @items.each do |item|
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#collapse#{item.code}"}
            #{item.code}:  #{item.name}
      .panel-collapse.collapse.in{:id => "collapse#{item.code}"}
        .panel-body
          #{item.curriculum_assessments}
        
    
     


%br

= link_to 'New Item', new_item_path


